@mixin heading($weight:300, $spacing:3px ,$case:uppercase){
    letter-spacing: $spacing;
    font-weight: $weight;
    text-transform: $case;
}

@mixin flex($dir:row, $justifyContent:center ,$alignItems:center,$gap:1rem) {
    display:flex;
    flex-direction: $dir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap

}

@mixin grid($col:1fr,$gap:1rem,$row:unset){
    display:grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    gap: $gap
}

@mixin inputStyle($w:100%,$p:1rem,$bgcolor:inherit,$border:none){
    padding:$p;
    width:$w;
    background-color:$bgcolor;
    border:$border;
    outline:none;
}

@mixin posCenter{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

@mixin square($size:1rem){
    width:$size;
    height:$size;
}

@mixin box($w:5rem,$h:5rem){
    width:$w;
    height:$h;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}